In [1]:
from utils import setup_asset_reader, quick_read, list_available_assets

In [2]:
list_available_assets()

['gold_user_info',
 'raw_demo_user',
 'raw_demo_user_address',
 'silver_demo_user']

In [3]:
quick_read("gold_user_info")

üìä Asset: gold_user_info
üìÅ Path: /app/data/gold_user_info/data.parquet
üìè Shape: (3, 6)
üìÖ Generated: 2025-10-15T12:10:28.706765
‚úÖ Data validation passed

    name      address  age  height  weight        bmi
0  test1  123 Main St    1    1.81      70  21.366869
1  test2  456 Oak Ave    2    1.75      65  21.224490
2  test3  789 Pine Rd    3    1.80      75  23.148148